/* BASE CSS RESET */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
}
/* END OF BASE CSS RESET */


/* FONTS */
body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}
/* END OF FONTS */


/* COLOR AND STYLE */
.header,
.footer {
    background-color: #1f2937;
}

.header h1,
.logo {
    color: #f9faf8;
    font-weight: 900;
}

.header a,
.header p {
    font-size: 18px;
    color: #e5e7eb;
}

.header h1 {
    font-size: 48px;
}

.header a {
    text-decoration: none;
}

.logo {
    font-size: 24px;
}

/* .info {
    text-align: center;
} */

.info h2 {
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
}

figure img {
    border-radius: 10%;
    border: 3px solid #3882f6;
}

figcaption {
    color: rgb(77, 77, 77);
}
/*END OF COLOR AND STYLE */

/* ALIGNMENT */
.header {
    display: flex;
    justify-content: center;
}

.header .container {
    display: flex;
    flex-direction: column;
}

.header-top {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.logo {
    margin-right: auto;
}

.header-bot {
    display: flex;
    gap: 50px;
}

.hb-left {
    max-width: 450px;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.items {
    display: flex;
    text-align: center;
    gap: 25px;
}

figure {
    width: 155px;
}
/* END OF ALIGNMENT */