/* BASE CSS RESET */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
}
/* END OF BASE CSS RESET */


/* FONTS */
body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}
/* END OF FONTS */