/* BASE CSS RESET */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
}
/* END OF BASE CSS RESET */


/* FONTS */
body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}
/* END OF FONTS */


/* COLOR AND STYLE */
.header,
.footer {
    background-color: #1f2937;
}

.header h1,
.logo {
    color: #f9faf8;
    font-weight: 900;
}

.header a,
.header p {
    font-size: 18px;
    color: #e5e7eb;
}

.header h1 {
    font-size: 48px;
}

.header a {
    text-decoration: none;
}

.logo {
    font-size: 24px;
}

.info h2 {
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
}

figure img {
    border-radius: 10%;
    border: 3px solid #3882f6;
}

figcaption {
    color: rgb(77, 77, 77);
}

.quotation {
    background-color: #e5e7eb;
}

blockquote p {
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    color: #1f2937;
}

blockquote footer {
    font-weight: 900;
    font-size: 18px;
}

.cta-box {
    background-color: #3882f6;
    border-radius: 7.5px;
}

.cta-box h3 {
    font-size: 18px;
    color: white;
}

.cta-box p {
    font-size: 16px;
    color: #e5e7eb;
}

.footer {
    font-size: 16px;
    color: #e5e7eb;
}

button {
    background-color: #3882f6;
    color: #e5e7eb;
    font-size: 18px;
    font-weight: 700;
    border: none;
    border-radius: 7.5px;
    cursor: pointer;
}

.cta-box button {
    border: 2px solid #e5e7eb;
}
/*END OF COLOR AND STYLE */

/* ALIGNMENT */
body {
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 25px;
}

.header .container {
    display: flex;
    flex-direction: column;
    max-width: 1000px;
}

.header-top {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding-top: 1%;
}

.logo {
    margin-right: auto;
}

.header-bot {
    display: flex;
    flex-wrap: wrap;
    gap: 25px 50px;
    margin: 50px 0 75px;
}

.hb-left {
    width: 450px;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 25px 0 75px;
}

.items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    gap: 60px;
    padding-top: 25px;
}

figure {
    width: 155px;
}

.quotation {
    display: flex;
    justify-content: center;
    align-items: center;
}

.quotation blockquote {
    width: 782.5px;
    padding: 75px 0;
    margin-left: 50px;
}

.quotation footer {
    text-align: end;
    padding-right: 40px;
}

.call-to-action {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cta-box {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px 85px;
    width: 1000px;
    margin: 50px 0;
}

.cta-box button {
    margin-left: auto;
}

.footer {
    text-align: center;
    padding: 15px;
    margin-top: auto;
}

button {
    padding: 7.5px 30px;
}

.header button {
    margin-top: 15px;
}
/* END OF ALIGNMENT */